<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div>
  <h1 class="poppins-light">Bienvenido al programa de formación:</h1>
  <h1  class="poppins-extralight">Despliegue de aplicaciones y servicios en contenedores Docker</h1>
  <img
    src="https://imgs.search.brave.com/Ve5L9tZoLAcJiQMSug0ZTTjDj7jAbjO2bwWrhi580Sw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9sb2dv/d2lrLmNvbS9jb250/ZW50L3VwbG9hZHMv/aW1hZ2VzLzMwMV9k/b2NrZXIuanBn"
    alt=""
  />
</div>
